*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    width: 80%;
    margin: auto;
}

header h1,
section .text{
    text-align: center;
}

/* HEADER */

header h1{
    color: #E53170;
    margin: 50px 0px 50px 0px;
}

/* MAIN */

section .text{
    padding-bottom: 30px;
}

.badge{
    width: 700px;
    height: 200px;
    background-color: black;
    margin: 30px;
    float: left;
}